$colors:(
  --very-dark-blue:hsl(243, 87%, 12%),
  --desaturated-blue:hsl(238, 22%, 44%),
  --bright-blue:hsl(243, 87%, 12%),
  --moderate-cyan:hsl(170, 45%, 43%),
  --lighy-gravish-blue:hsl(240, 75%, 98%),
  --light-gray:hsl(0, 0%, 75%)
);

@function color($colorr){
  @return map-get($colors , $colorr)
};

