/*----------------------*/
      /*Setting up*/
/*----------------------*/
@use '../scss/colores' as c;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  font-weight:400;
}

ul{list-style: none;}
a{text-decoration: none;}
img{width:100%;}

h1,
h2{
  font-family: 'Raleway', sans-serif;
  font-weight:700;
}
/*----------------------*/
      /*Ultilities*/
/*----------------------*/
@mixin row {
  margin: 0 auto;
  max-width:1250px;
}

@mixin button {
  background-color:c.color(--button-main);
  padding-left:3rem;
  border:0;
  color: #fff;
  padding:0 2.5rem;
  border-radius: 3px;
  font-size: 1.1rem;
  cursor:pointer;
  opacity:10;
  transition:200mc;
  text-align:center;
  &:hover{
    opacity:0.8;
    background: c.color(--button-main);
  }
}

@mixin flex-columns{
  display: flex;
  justify-content:space-between;
}
@mixin flex-itemns {
  display: flex;
  justify-content: space-between;
}
/*----------------------*/
      /*Navegation*/
/*----------------------*/
#navbar{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top:3rem;
  ul{
    display:flex;
  }
  li{
    padding:0 2rem;
  }
  a{
    font-size:1.2rem;
    color:c.color(--bright-blue);
  }
}
/*----------------------*/
      /*Hero*/
/*----------------------*/
#hero{
  @include row();
  font-size:1.2rem;
  .content{
    @include flex-columns();
    align-items: center;
    padding: 3rem 1rem;
  }
  .box{
    &-1{
      h1{
        font-size:220%;
      }
      p{
        margin:1.5rem 0;
        width:100%;
      }
      form{
        display: flex;
        input[type=email]{
          width: 50%; 
          padding:0.7rem;
        }
        button[type=submit]{
          @include button();
          margin-left:1rem;
        }
      }
    }
    &-2{
      img{width:600px;}
    }
  }
}
/*----------------------*/
  /*Productive & access*/
/*----------------------*/
main{
  /*Productive*/
  #productive{
    background:url(/images/bg-curve-desktop.svg);
    height:100%;
    background-position: center;
    background-size:350% 100%;
    background-repeat: no-repeat;
    margin-top: 3rem;
    .content{
      @include row();
      @include flex-columns();
      padding:15rem 1rem;
      .box{
        &-1{
          h2{
            font-size: 2rem;
          }
          p{
            padding:1rem 0;
            width:90%;
          }
          a{
            color: c.color(--moderate-cyan);
            border-bottom: 1px solid c.color(--moderate-cyan);
            img{
              width:1rem;
            }
            
          }
         .testimonial{
          padding:2rem 1.5rem;
          border: 1px solid rgb(233, 224, 224);
          width:62%;
          margin:2rem 0;
          border-radius:5px;
          box-shadow:1px 1px 1px 1px  rgb(233, 224, 224);
          .quote{
            width:15px;
          }
          .user{
            display: flex;
            align-items: center;
            padding:0.8rem 0;
            h4,h5{font-size: 0.7rem;}
            h5{
              color:rgb(202, 199, 199);
            }
            img{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right:1rem;
            }
          }
         }
        }
        &-2{
          img{width:600px;}
        }
      }
    }
  }

  /*Access*/
  #access{
    background: c.color(--desaturated-blue);
    padding:4rem 0;
    .content{
      @include row;
      display:flex;
      justify-content: center;
      .box{
        &-1{
          p{
            width: 70%;
            color:c.color(--light-gray);
            margin:2rem 0;
          }
          h2{
            font-size: 2rem;
            color:#fff;
            
          }
        }
        &-2{
          
          input[type=email]{
            width:100%;
            padding:0.7rem 15rem 0.7rem 0.2rem;
            margin-bottom:2rem;
            border-radius: 3px;
            border: 0;
          }
          input[type=button],
          a{
            @include button();
            padding:0.7rem;
           
          }
        }
      }
    }
  }
}
#footer{
  background:c.color(--very-dark-blue);
  padding:5rem 0;
  .content{
    @include row();
    @include flex-itemns();
    ul li {
        padding-bottom:1rem;
      a{
        color:#fff;
      }
    }
    .logo{
      width:180px;
      filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(2%)
      hue-rotate(65deg) brightness(111%) contrast(101%);
      padding:1rem 0;
    }
    .box{
      &-4 ul{
        display:flex;
        padding-right: 1rem;
        li{
          padding:0 1rem;
          a i{
            height:40px;
            width:40px;
            border: 1px solid #fff;
            line-height:1.6em;
            border-radius:50%;
            text-align: center;
            font-size:1.4rem;
            transition: 200ms;
          }
          a .fa-facebook-f:hover{border:1px solid c.color(--facebook-icon)}
          a .fa-twitter:hover{border:1px solid c.color(--twitter-icon);}
          a .fa-instagram:hover{border:1px solid c.color(--instagram-icon);}
        }
      }
      &-2,
      &-3{
        li a:hover{
          color:c.color(--button-main);
        }
      }
      &-1 ul{
          display: flex;
          flex-direction: column;
        i{
          padding-right:1rem;
        }
      }
    }
  }
}
/*----------------------*/
   /*Media Queries*/
/*----------------------*/
@media(max-width:789px){
  //Setting  
  body{font-size: 15px;}
  //Ultilities
  @mixin flex-columns {flex-direction:column-reverse;}
  @mixin flex-itemns {flex-direction: column;}
 /*Hero*/
 #hero{
  .content{
    @include flex-columns();
    text-align: center;
  }
  .box{
    &-1{
      padding-top:2rem;
      h1{
        font-size:1.3rem;
      }
      p{
        width:100%;
      }
      form{
        flex-direction:column;
        align-items: center;
        button[type=submit],
        input[type=email]{
          width:100%;
          padding:0.7rem 0;
          margin:0.6rem 0;
        }
      }
    }
    &-2{
      img{width: 100%;}
    }
  }
}
  /*Navegation*/
  #navbar{
    flex-direction: column;
    padding-top:2rem;
    li{
      padding:0 8px;
    }
    a{
      font-size:1rem;
    }
  }
  main{
    //Productive
    #productive{
      background:url(/images/bg-curve-desktop.svg);
      background-size:540% 100%;
      margin-top: 5rem;
      background-position: center;
      .content{
        @include flex-columns();
        padding:10rem 1rem;
        .box{
          &-1{
            h2{
              font-size: 1.5rem;
            }
            P{
              width: 100%;
            }
          .testimonial{
            width:100%;
          }
          }
          &-2{
            img{width: 100%;}
          }
        }
      }
    }
    /*Access*/
    #access{
      padding:2rem 0.6rem;
      background: c.color(--desaturated-blue);
      .content{
        @include row;
        @include flex-itemns();
        .box{
          &-1{
            p{
              width:100%;
              text-align: center;
            }
            h2{
              font-size:2rem;
            }
          }
          text-align: center;
          &-2{
          
            input[type=button],
            input[type=email]{
              width:100%;
              padding:0.7rem 5rem 0.7rem 0.2rem;
            }
          }
        }
      }
    }

  }
  //Footer
  #footer{
    .content{
      @include flex-itemns();
      padding:10px;
     
      .box{
        &-4 ul{
         display: flex;
         text-align: center;
         align-items: center;
         justify-content: center;
        }
        &-3{
          padding:1rem 0;
        }
      }
    }
  }
}

@media(max-width:1200px){
    #navbar,
    .content{padding:10px;}
}


